[CSV-FILE]
#If CSV file has title set 'yes' (without "'") otherwise write 'no'
Title = yes
IndexColumnDate = 0
IndexColumnDescription = 9
IndexColumnAmount = 2
IndexColumnGnuCashCategory = -1
IndexColumnCode = 7

[QIF-HEADER]
#Generally the "Type" field must be set as "!Type:Bank"
Type = !Type:Bank
#The "AccountName" variable must reflect the path within GNUCash.
#Is the path you would choose when importing a QIF file manually
AccountName = Assets:Bank:Tokyo Bank
#The description is optinal
AccountDescription = My Tokyo Bank Account
